/ <%= form_for(@user) do |f| %>
/   <% if @user.errors.any? %>
/     <div id="error_explanation">
/       <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

/       <ul>
/       <% @user.errors.full_messages.each do |message| %>
/         <li><%= message %></li>
/       <% end %>
/       </ul>
/     </div>
/   <% end %>

.row
  .col-sm-12
    =render 'shared/error_messages'
    =form_for @user do |f|
      .field
        =f.label :name
        =f.text_field :name, {class: "form-control"}
      .field
        =f.label :email
        =f.email_field :email, {class: "form-control"}
      .field
        =f.label :password
        =f.password_field :password, {class: "form-control"}
      / .field
      /   =f.label :password_confirmation
      /   =f.password_field :password_confirmation
      .actions
        =f.submit "Create Account", {class: "btn btn-primary"}
        =link_to 'Cancel', :back